
body {
  background-color: silver
}

h2 {
  text-align: left;
  text-decoration: underline;
  font-weight: bolder;
  color: purple;
}

a:hover {
    background-color: green;
}

button {
	border: none;
	background: #3a7999;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
}
button:before {
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 42px;
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
	transition: all 2s ease;
}
button:hover:before {
	width: 100%;
}


button {
	transform-style: preserve-3d;
}
button:after {
	top: -100%;
	left: 0px;
	width: 100%;
	position: absolute;
	background: #3a9999;
	border-radius: 5px;
	content: 'Sucks!';
	transform-origin: left bottom;
	transform: rotateX(90deg);
}
button:hover {
	transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}

#navbar ul {
 margin: 0;
 padding: 5px;
 list-style-type: none;
 text-align: center;
 background-color: #000;
 }

#navbar ul li {
 display: inline;
 }

#navbar ul li a {
 text-decoration: none;
 padding: .2em 1em;
 color: #fff;
 background-color: #000;
 }

#navbar ul li a:hover {
 color: #000;
 background-color: #fff;
 }

div.img {
   margin: 5px;
   border: 1px solid #ccc;
   float: left;
   width: 180px;
   margin: auto;
}
``

div.img:hover {
   border: 1px solid #777;
}

div.img img {
   width: 100%;
   height: auto;
}

div.desc {
   padding: 15px;
   text-align: center;
}
