body {
  background-color: silver
}
h2 {
  text-align: left;
  text-decoration: underline;
  font-weight: bolder;
  color: white;
}


#navbar ul {
 margin: 0;
 padding: 5px;
 list-style-type: none;
 text-align: center;
 background-color: #000;
 }

#navbar ul li {
 display: inline;
 }

#navbar ul li a {
 text-decoration: none;
 padding: .2em 1em;
 color: #fff;
 background-color: #000;
 }

#navbar ul li a:hover {
 color: #000;
 background-color: #fff;
 }

div.img {
   margin: 5px;
   border: 1px solid #ccc;
   float: left;
   width: 180px;
   margin: auto;
}
``

div.img:hover {
   border: 1px solid #777;
}

div.img img {
   width: 100%;
   height: auto;
}

div.desc {
   padding: 15px;
   text-align: center;
}
