
#navbar ul {
 margin: 0;
 padding: 5px;
 list-style-type: none;
 text-align: center;
 background-color: #000;
 }

#navbar ul li {
 display: inline;
 }

#navbar ul li a {
 text-decoration: none;
 padding: .2em 1em;
 color: #fff;
 background-color: #000;
 }

#navbar ul li a:hover {
 color: #000;
 background-color: #fff;
 }


#line { color: white }

h3 {
   text-align: center; color: white; font-family: cursive
 }

body {
  background-image: url( SpaceBackground_Index3.jpg )
}
