
body {
  background: linear-gradient( #ff5050, white );
  background-repeat: no-repeat;
  background-size: auto;
}

h2 {
  text-align: left;
  text-decoration: underline;
  font-weight: bolder;
  color: black;
}

a:hover {
    background-color: green;
}

.button2 {
	border: none;
	background: black;
	color: red;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
}


.button2 {
	transform-style: preserve-3d;
}
.button2:after {
	top: -100%;
	left: 0px;
	width: 100%;
	position: absolute;
	background: black;
	border-radius: 5px;
	content: 'Is nice!';
	transform-origin: left bottom;
	transform: rotateX(90deg);
}
.button2:hover {
	transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}

.button3 {
	border: none;
	background: black;
	color: red;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
}

.button3:before {
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 42px;
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
	transition: all 1s ease;
}
.button3:hover:before {
	width: 100%;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.button4 {
	border: none;
	background: black;
	color: red;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
}

.button4:hover {
	animation: bounce 1s;
}

#navbar ul {
 margin: 0;
 padding: 5px;
 list-style-type: none;
 text-align: center;
 background-color: #000;
 }

#navbar ul li {
 display: inline;
 }

#navbar ul li a {
 text-decoration: none;
 padding: .2em 1em;
 color: #fff;
 background-color: #000;
 }

#navbar ul li a:hover {
 color: #000;
 background-color: #fff;
 }

div.img {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  margin: auto;
}

div.img:hover {
  border: 1px solid #777;
}

div.img img {
   width: 100%;
   height: auto;
}

div.desc {
   padding: 15px;
   text-align: center;
}
#bold {
  font-size: 20px;
}

table {
  text-align: center;
}
