
#border {
    border-top-style: dashed;
    border-right-style: dashed;
    border-bottom-style: dashed;
    border-left-style: dashed;
    color: white;
}

#border2 {
    border-top-style: dotted;
    border-right-style: dotted;;
    border-bottom-style: dotted;
    border-left-style: dotted;;
    color: white;
}

#list1 {
  color: white;
  text-align: center;
}

p {
  color: white;
}

#line { color: white }

h3 {
   text-align: center; font-size: 300%;
   color: white;
   font-family: cursive;
 }

 h2 {
    text-align: center;
    font-size: 200%;
    color: white;
    font-family: cursive;
  }

body {
  background-image: url( SpaceBackground_Index3.jpg )
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Jhonattan's css*/
#navbar {
  display:flex; justify-content: center;
}

#navbar ul {
 margin: 0;
 padding: 5px;
 list-style-type: none;
 overflow: hidden;
 text-align: center;
 background-color: #000;
 }

#navbar ul li {
 float: left;
 flex: 1;
 }

#navbar ul li a {
 text-decoration: none;
 padding: .2em 1em;
 color: #fff;
 background-color: #000;
 }

#navbar ul li a:hover {
 color: #000;
 background-color: #fff;
 }


li a, .dropbtn {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
border-right: 1px solid #7b5499;
text-decoration: none;
transition: 1s;

}
li a:hover, .drop:hover {
background-color: #7b5499;
color: #ffffff;

}
.active {
    background-color: #7b5499;
    border: 1px;
}
li.drop {
    display: inline-block;
}
.dropstuff {
    display: none;
    position: absolute;
    background-color: #6441a5;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropstuff a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
}
.drop:hover .dropstuff {
    display: block;
}

/* VIDEO */
#videoreq {
    display:flex; justify-content: center;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: cursive;
}

p {
  text-align: center;
}

#table2 {
  text-align: center;
}
table{
  border: 3px solid;
  border-right: none;
  border-left: none;
  border-color: white;
  border-collapse: collapse;
  width: 45%;
  margin: auto;
  text-align: center;
  font-family: Verdana;
  font-size: 16px;
  font-weight: 800;
  color: white;
}
th,td{
  border: 3px solid;
  border-color: white;
  border-right: none;
  border-left: none;
}

#dude {
  float: center;
  height: 700px;
  width: 600px;
  margin-top: auto;;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
}

fieldset {
  color: white;
  text-align: center;
}

legend {
  text-align: center;
}

.img1 {
  float: left;
  height: 100px;
  width: 100px;
  margin-top: 18px;
  margin-right: 50px;
}

.img2 {
  float: right;
  height: 100px;
  width: 100px;
  margin-top: 18px;
  margin-right: 195px;
  border-top-style: dotted;
  border-right-style: dotted;;
  border-bottom-style: dotted;
  border-left-style: dotted;;
  color: white;
}

.img3 {
  float: right;
  height: 120px;
  width: 120px;
  margin-top: 100px;
  margin-right: 185px;
  border-top-style: dotted;
  border-right-style: dotted;;
  border-bottom-style: dotted;
  border-left-style: dotted;;
  color: white;
}
